<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/styles/landing.css" />
  </head>
  <body>
    <div class="container">
      <h1>Bienvenue sur la Page d'Accueil</h1>
      <p>
        Explorez nos fonctionnalités en vous connectant ou en vous inscrivant.
      </p>
      <div class="links">
        <a href="/auth/login">Se connecter</a>
        <a href="/auth/register">S'inscrire</a>
      </div>
    </div>
  </body>
</html>
