<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/adminPage.css" />
    <title>Admin Page</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs', {user : null}) %>
    <div class="container">
      <div class="side-panel">
        <h2>Admins actions :</h2>
        <ul>
          <li><a href="/admin/">Dashboard</a></li>
          <li><a href="/admin/">Users</a></li>
          <li><a href="/admin/">Products</a></li>
        </ul>
      </div>
      <div class="main-content">
        <h1>Welcome to the Admin Page</h1>
      </div>
    </div>
  </body>
</html>
