<link rel="stylesheet" href="/styles/navbar.css" />
<div class="navbar">
  <a class="home" href="/home">Accueil</a>
  <form id="search-bar" class="search-bar">
    <input id="searchBar-input" type="text" placeholder="Rechercher" />
    <button id="searchBar-button" type="submit">Rechercher</button>
  </form>
  <div class="nav-links">
    <% if(role === "admin"){ %>
    <a href="/admin">Admin</a>
    <% } %> <% if(role === "seller"){ %>
    <a href="/seller">MyItems</a>
    <% } %>
    <a href="/cart">Cart</a>
    <a href="/profile">Profil</a>
  </div>
</div>
<script>
  document.getElementById("search-bar").addEventListener("submit", (event) => {
    event.preventDefault();
    const searchQuery = document.getElementById("searchBar-input").value.trim();
    if (searchQuery !== "") location.href = `/home/${searchQuery}`;
  });
</script>
