<link rel="stylesheet" href="/styles/navbar.css" />
<div class="navbar">
  <a class="home" href="/home">Accueil</a>
  <div class="search-bar">
    <input id="searchBar-input" type="text" placeholder="Rechercher" />
    <button id="searchBar-button" type="submit">Rechercher</button>
  </div>
  <div class="nav-links">
    <% if(role === "admin"){ %>
    <a href="/admin">Admin</a>
    <% } %> <% if(role === "seller"){ %>
    <a href="/seller">MyItems</a>
    <% } %>
    <a href="/cart">Cart</a>
    <a href="/profile">Profil</a>
  </div>
</div>
<script>
  document
    .getElementById("searchBar-button")
    .addEventListener("click", (event) => {
      event.preventDefault();
      const searchQuery = document
        .getElementById("searchBar-input")
        .value.trim();

      console.log(searchQuery);
      if (searchQuery !== "") {
        fetch(`http://localhost:6543/home/${searchQuery}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        }).catch((error) => console.log(error));
      }
    });
</script>
