<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Home</title>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <h1>Welcome Home</h1>

    <p>
      This is a simple welcome message on the home page. Feel free to customize
      it!
    </p>
  </body>
</html>
