<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>401 Error - Unauthorized access</title>
    <link rel="stylesheet" href="/styles/error.css" />
  </head>
  <body>
    <div class="container">
      <h1>401 Error - Unauthorized access</h1>
      <p>You do not have the authorization to access this ressource</p>
      <p>Error message : <%= error.message %></p>
      <p><a href="/">Back to home</a></p>
    </div>
  </body>
</html>
