body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  height: 100vh;
}

.side-panel {
  /* width: 20%; */
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  border-top: 1px solid white;
}

.side-panel h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  padding-bottom: 40px;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 10px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

a:hover {
  color: #4caf50;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;

  padding: 20px;
}

h1 {
  color: #333;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .side-panel {
    width: 100%;
    box-shadow: none;
  }
}
