body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.container {
  text-align: center;
}

ul {
  margin: 0;
}

h1 {
  padding-top: 20px;
  color: #4caf50;
  padding-left: 60px;
}

.cart-item {
  list-style: none;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: #4caf50;
}

p {
  color: #555;
  margin-bottom: 10px;
  width: 100%;
}

strong {
  font-weight: bold;
  color: #333;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-items {
  list-style: none;
  padding: 0;
  width: 60%;
}

.cart-summary {
  width: 35%;
  align-self: flex-start;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.item-details {
  width: 70%;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-control-btn {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.empty-cart-container {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

#emptyCartButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#emptyCartButton:hover {
  background-color: #cc0000;
}
