body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  /* padding: 20px; */
}

.container {
  text-align: center;
}

h1 {
  color: #007bff;
}

.item-details {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: left;
}

h2 {
  color: #007bff;
}

p {
  color: #555;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
  color: #333;
}
