.home {
  font-size: 20px;
}

.navbar a:hover {
  color: #333;
  color: #4caf50;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  color: white;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 35%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px 0px 0 20px;
  outline: none;
}

.search-bar button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.nav-links {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
