<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="styles/home.css" />
  </head>
  <body>
    <%-include("../partials/navbar.ejs")%>

    <div class="container">
      <h1>Bienvenue sur la page d'accueil</h1>
      <p>Merci de vous être connecté.</p>
      <div class="card-container">
        <% items.forEach(item => { %>
        <div class="card">
          <h2><%= item.name %></h2>
          <p>Prix: <%= item.price %> €</p>
          <p>Description: <%= item.description %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
